


body {
    background-image: url(Images/pink\ yellow\ gradient\ background.png);
    background-size:cover;
 position: relative;

}



   h2 { 
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 100px;
    padding-left: 1245px;
    margin-top: -2px;
    position: absolute;
    color:rgb(22, 94, 166);
    z-index: 10;
    position: fixed;
    letter-spacing: 1px;
}

.Dana {
    font-size: 60px;
    font-family: "american typewriter";
    font-weight: 400;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding-left: 650px;
    margin-top: 230px;
    position: absolute;
    padding-bottom: 500px;
    z-index: 12;

}

a:hover {
    color:rgb(172, 224, 252);


}

.Jiyoung {
    font-size: 60px;
    font-family: "american typewriter";
    text-decoration:none;
    font-weight: 400;
    color: rgb(255, 255, 255);
    padding-left: 610px;
    margin-top: 415px;
    position: absolute;
    padding-right: 10px;
    z-index: 15;

}
a:hover {
    color:rgb(172, 224, 252);
}


#pinkwavy {
    height:55px;
    width: 1500px;
    margin-top: -20px;
    position: fixed;
    z-index: 9;
    margin-left: -11px;
    margin-right: -1px;
}


.homebutton-hover {
    height: 32px;
    width: auto;
    position: fixed;
    margin-left: 40px;
    margin-top: -2px;
    z-index: 30;
  
   
   }
  
   .homebutton-hover img {
    height: 32px;
    width: auto;
    position: fixed;
    margin-left: 40px;
    margin-top: -2px;
    z-index: 30;
    
    }

  .homebutton-hover img.img-front:hover{
    opacity:0;
    cursor: pointer;
  }


  .box1 {
    height: 80px;
    width: 400px;
    position: absolute;
    margin-left: 525px;
    margin-top: 220px;
    z-index: -1;
    background-color:#ffa5e3;
  
}

.box2 {
    height: 80px;
    width: 400px;
    position: absolute;
    margin-left: 525px;
    margin-top: 412px;
    z-index: -1;
    background-color:#ffa5e3;
  
}

#tinysparkle {
    height:15px;
    width: auto;
    padding-top: 240px;
    padding-left: 610px ;
    position: absolute;
    z-index: 4;

}
#tinysparkle1 {
    height:12px;
    width: auto;
    padding-top: 460px;
    padding-left: 860px ;
    position: absolute;
    z-index: 4;

}